* {
    box-sizing: border-box;
}
body {
background-color: blue;
color: white;
}

img { 
    float:right;
    max-width: 760px;
    padding: 2px;
}

@media screen and (max-width:480px){
    body{
        background-color: red;
    }
    img{
        float:none;
        max-width: 100%;
    }

}
@media screen and (max-width:320px){
    body{
        background-color: yellow;
        color: black;
    }
}

